-----BEGIN RSA PRIVATE KEY-----
THIS IS AN EXAMPLE FILE
REPLACE THIS WITH YOUR ACTUAL GITHUB APP PRIVATE KEY

To use:
1. Download your GitHub App private key from:
   https://github.com/settings/apps/YOUR_APP/installations

2. Copy the downloaded .pem file to this directory:
   cp ~/Downloads/your-app.private-key.pem secrets/github-app-private-key.pem

3. Update .env file:
   GITHUB_APP_PRIVATE_KEY=secrets/github-app-private-key.pem

DO NOT commit the actual private key to version control!
-----END RSA PRIVATE KEY-----
